<footer class="bg-gray-50 h-auto md:px-25 px-5 pt-20   absolute">
 

 <div class=" flex flex-row max-md:flex-wrap  justify-between">
   <div class="flex flex-col w-1/4 max-md:w-full mr-10 mb-6">

    <div class="text-xl font-bold mb-10 flex-row flex">Shop.CO</div>
    <p>We have clothes that suits your style  and which you’re proud to wear. From women to men.</p>
    <div class="justify-start flex flex-row ">
      
      <a *ngFor="let social of socials" href="#">
       <img class="md:mr-8 justify-between" [src]="social.path" [alt]="social.name"/>
     </a>
     
   </div>
 </div>
 
 


 

 <div class="grid grid-cols-2 md:grid-cols-4 gap-15 md:gap-15">
  <div>
    <p class="font-bold mb-4">Company</p>
    <ul class="space-y-2">
      <li><a href="#">About</a></li>
      <li><a href="#">Features</a></li>
      <li><a href="#">Works</a></li>
      <li><a href="#">Careers</a></li>
    </ul>
  </div>
  <div>
    <p class="font-bold mb-4">Help</p>
    <ul class="space-y-2">
      <li><a href="#">Customer Support</a></li>
      <li><a href="#">Delivery Details</a></li>
      <li><a href="#">Terms & Conditions</a></li>
      <li><a href="#">Privacy Policy</a></li>
    </ul>
  </div>
  <div>
    <p class="font-bold mb-4">FAQ</p>
    <ul class="space-y-2">
      <li><a href="#">Account</a></li>
      <li><a href="#">Manage Deliveries</a></li>
      <li><a href="#">Orders</a></li>
      <li><a href="#">Payments</a></li>
    </ul>
  </div>
  <div>
    <p class="font-bold mb-4">More</p>
    <ul class="space-y-2">
      <li><a href="#">Blog</a></li>
      <li><a href="#">Partners</a></li>
      <li><a href="#">Affiliates</a></li>
      <li><a href="#">Community</a></li>
    </ul>
  </div>
</div>

</div>




<div class="mt-10 border-t border-gray-200 pt-6 flex flex-col md:flex-row justify-between items-center">
  <p class="text-sm text-gray-500">© 2025 Shop.CO. All rights reserved.</p>
  
  <div class="flex space-x-4 mt-4 md:mt-0">
    
    
    <div class="flex flex-row">
      
     <img *ngFor="let paystack of paystacks" [src]="paystack.path" >
     
   </div>
   
 </div>
</div>
</footer>







